<div class="flex-container">
  <div class="row">
    <div class="title"><h3>URL Shortener</h3></div>
    <div class="center"><img src="/stylesheets/ExportedContentImage_00.png" alt="" id="contentImage"></div>
    <nav class="center"><input type="text" placeholder="Input URL here" class="input"></nav>
    <div class="center"><button type="button" class="btn btn-primary btn-sm">Shroten</button></div>
  </div>

</div>
